
.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container__image {
    max-width: 350px;
    max-height: 350px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    border-radius: 6px;
}

@media (min-width: 768px) {
    .container__image {
        max-width: 500px;
        max-height: 500px;
    }
}
