/* Room.module.css */

.roomContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  height: 100vh;
}

.videos {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.videoWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}

.localVideo,
.remoteVideo {
  width: 90%;
  aspect-ratio: 16 / 9;
  border-radius: 8px;
}

/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
  .localVideo,
  .remoteVideo {
    aspect-ratio: auto;
  }
}

/* Estilos para dispositivos con pantallas más grandes */
@media (min-width: 769px) {
  .videos {
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
  }

  .localVideo {
    width: 100%;
    height: fit-content;
  }

  .remoteVideo {
    width: 100%;
    height: auto;
    height: fit-content;
  }
}

/* Botón para copiar la URL */
.copyButton {
  padding: 10px 20px;
  margin-top: 10px;
  font-size: 1rem;
  color: white;
  background-color: var(--secondary-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.copyButton:hover {
  background-color: #45a049;
}
